@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&Material+Icons&display=swap');

body {
	font-family: Montserrat, sans-serif;
	box-sizing: border-box;
}

/* @media (min-width: 1200px) {
	.container {
		max-width: 1280px;
	}
} */

div.header {
	/* background-image: url('./s_logo.jpg');
	background-size: cover;
	background-position: top; */
	height: 20vh;
	/* clip-path: ellipse(100% 55% at 48% 44%); */
}
