@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&Material+Icons&display=swap');

body {
	font-family: Montserrat, sans-serif;
	box-sizing: border-box;
	padding-top: 10vh;
}

a {
	font-weight: 600;
}

h1,
h2,
h3 {
	font-weight: 700;
	color: rgb(37, 30, 30);
}

img {
	border-radius: 0.5rem;
}
